{% extends 'base.html' %} 

{% block extracss %}
    <link rel="stylesheet" href="/static/histogram.css">
    <link rel="stylesheet" href="/static/timeline.css">
{% endblock %}

{% block extrascripts %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/date-fns/1.30.1/date_fns.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
{% endblock %}

{%block navbar %}
<select id="loc_select" class="form-select">
    <option value="4" {% if location=="4" %}selected{% endif %}>Fourth Floor</option>
    <option value="3" {% if location=="3" %}selected{% endif %}>Third Floor</option>
    <option value="2" {% if location=="2" %}selected{% endif %}>Second Floor</option>
    <option value="1" {% if location=="1" %}selected{% endif %}>Basement</option>
</select>
{% endblock %}

{% block content %}
<div class="page w-100">

    <div class="card container">
        <div class="menu">
            <p style="margin-bottom:0; margin-right:1em;">Popular Times on: </p>
            <select id="day_select" class="form-select form-select-sm">
                <option value="0" id="sun" {% if day=="0" %}selected{% endif %} >Sunday</option>
                <option value="1" id="mon" {% if day=="1" %}selected{% endif %} >Monday</option>
                <option value="2" id="tue" {% if day=="2" %}selected{% endif %} >Tuesday</option>
                <option value="3" id="wed" {% if day=="3" %}selected{% endif %} >Wednesday</option>
                <option value="4" id="thu" {% if day=="4" %}selected{% endif %} >Thursday</option>
                <option value="5" id="fri" {% if day=="5" %}selected{% endif %} >Friday</option>
                <option value="6" id="sat" {% if day=="6" %}selected{% endif %} >Saturday</option>
            </select>
        </div>
    
        <div id="histogram" class=""></div>
    </div>
    

    <div id="timeline-container">
        <div id="timeline"></div>
        <div id="timeline-buttons">
            <button type="button" class="btn btn-secondary btn-sm" id="timeline-zin">+</button>
            <button type="button" class="btn btn-secondary btn-sm" id="timeline-zout">-</button>
        </div>
    </div>

    <div id="realtime" class="realtime-monitor">
        <p id="rtdata-text"></p>
    </div>
    
    <div id="graph" class="graph">
        <canvas id="graph-canvas"></canvas>
    </div>
</div>

<script src="/static/histogram.js"></script>
<script src="/static/timeline.js"></script>
<script src="/static/details.js"></script>

{% endblock %}

