{% extends 'laundry/base.html' %} 
{% block navbar %}
<div class="row-1 d-flex align-items-end">
  
</div>
{% endblock %}
{% block content %}
<div class="w-100">
  {% if message != None %}
  <div class="alert alert-primary alert-dismissible" role="alert">
    {{ message }} <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endif %}
  <div class="col col-sm col-md-6 offset-md-3">
    {% if sites == None %}
      <div class="col-sm col-md-6 offset-md-3 card mb-3">
        <h4 class="text-center">You Are Not Registered to Any Sites :(</h4>
        <p class="text-center">Try scanning your QR code again, or talk to your property manager or landlord.</p>
      </div>
    {% else %}
    <ul class="list-group list-group-flush">
      {% for location in locations %}
      
      {% ifchanged %}
        <p class="section-header">{{location.section | title }}</p>
      {% endifchanged %}
        <li class="list-group-item">
          {% include './location.html' with location=location %}
        </li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
</div>
{% load static %}
<script src="{% url 'status.js' %}"></script>
{% endblock %}
