<div class="table-responsive">
    <h2>Issues</h2>
    {% for issue in issues %}
    <table class="table">
        <thead>
            {% if issue.fix_time %}
            <tr class="table-primary">
            {% else %}
            <tr class="table-danger">
            {% endif %}
                <th scope="col">Issue #</th>
                <td>{{ issue.pk }}</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row"> Time</th>
                <td> {{ issue.time }}</td>
            </tr>
            <tr>
                <th scope="row">Location </th>
                <td>{{ issue.location }}</td>
            </tr>
            <tr>
                <th scope="row">Description </th>
                <td>{{ issue.description }}</td>
            </tr>
            <tr>
                <th scope="row">Error Code</th>
                <td>{{ issue.code }}</td>
            </tr>
            <tr>
                <th scope="row">Fix Description </th>
                <td>{{ issue.fix_description }}</td>
            </tr>
            <tr>
                <th scope="row">Fix Time </th>
                {% if issue.fix_time %}
                    <td>{{ issue.fix_time }}</td>
                {% else %}
                <td>
                {% if request.user.is_staff %}
                <a href="{% url 'issue-fix' issue.id %}" class="btn btn-primary">Mark Fixed</a>
                {% endif %}
                </td>
                {% endif %}
            </tr>
        </tbody>
    </table>
    {% endfor %}
</div>