{% extends 'laundry/base.html' %}

{% block content %}

<div class="container w-100 mt-3">
    <div class="table-responsive">
    <table class="table">
    <thead>
        <tr>
            <th scope="row">Issues</th>
        </tr>
    </thead>
    <tbody>
        {% for issue in issues %}
        <tr>
            <th scope="row"> {{ issue.id }}</th>
            <td> {{ issue.time }}</td>
        </tr>
        <tr>
            <th scope="row">Location </th>
            <td>{{ issue.location }}</td>
        </tr>
        <tr>
            <th scope="row">Description </th>
            <td>{{ issue.description }}</td>
        </tr>
        <tr>
            <th scope="row">Error Code</th>
            <td>{{ issue.code }}</td>
        </tr>
        <tr>
            <th scope="row">Fix Description </th>
            <td>{{ issue.fix_description }}</td>
        </tr>
        <tr>
            <th scope="row">Fix Time </th>
            {% if issue.fix_time %}
                <td>{{ issue.fix_time }}</td>
            {% else %}
            <td><a href="{% url 'issue-fix' issue.id %}" class="btn btn-primary">Mark Fixed</a></td>
            {% endif %}
        </tr>
        {% endfor %}

    </tbody>
    </table>
    </div>
</div>


{% endblock %}