<!-- <div class="card mb-1"> -->

    <div class="d-flex justify-content-between location-cell {{location.latest_status}}" id="location-{{location.pk}}" data-loc="{{location.pk}}">

        <div class="d-flex flex-column justify-content-between">
            <div class="row">
                <h6 class="card-title">{{ location.name | title }} 
                    <a
                        class="issue-indicator {% if location.latest_issue and not location.latest_issue.ooo %}issue{% endif %}"
                        id="issue-{{ location.pk }}"
                        href="{% url 'issues' location.pk %}">
                        <i class="fa-solid fa-triangle-exclamation"></i>
                    </a>
                    
                </h6>
                <p class="card-subtitle text-muted mb-2">
                    <span data-js-attr="status-display" class="status {{location.latest_status}}"></span> 
                    <time data-js-attr="location-updated-at" class="timeago" datetime="{{ location.latest_time.isoformat }}"></time>
                </p>
            </div>
        </div>

        <div class="d-flex flex-row justify-content-end">
            <div class="row-1 d-flex justify-content-between">
                <div class="m-1">
                <input
                    class="btn-check notify-button"
                    type="checkbox"
                    id="subcheck-{{ location.pk }}"
                    autocomplete="off"
                />
                <label
                    class="btn btn-outline-primary"
                    for="subcheck-{{ location.pk }}"
                    ><i class="fa-solid fa-bell"></i></label
                >
                </div>
            </div>
            <a href="{% url 'details' location.pk %}">
                <div class="d-flex flex-column justify-content-between align-items-end m-1">
                    {% if location.type.type == 'D' or location.type.type == 'S' %}
                    <div class="dryer-container" id="dryer-{{ location.id }}">
                    {% include './svg/dryer.svg' with status=location.latest_status %}
                    </div>
                    {% endif %}
                    {% if location.type.type == 'S' %}
                    <div class="pb-1"></div>
                    {% endif %}
                    {% if location.type.type == 'W' or location.type.type == 'S' %}
                    <div class="washer-container" id="washer-{{ location.id }}">
                    {% include './svg/washer.svg' with status=location.latest_status %}
                    </div>
                    {% endif %}
                </div>
            </a>
        </div>
    </div>
<!-- </div> -->